@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

#fondo{
    background-image: url(images/fondosky.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover; 
    backdrop-filter: blur(55px);       
}
#PM{
    color: rgb(186, 186, 187);
    text-shadow: 0 10px 20px #000;
    font-size: 4em;
    text-align: left;
    font-family: 'ICA Rubrik';        
}
#WD{
    color: rgb(186, 186, 187);
    text-shadow: 0 10px 20px #000;
    font-size: 2em;
    text-align: left;
    font-family: 'ICA Rubrik';
}
#nombre{
    margin-top: 10%;
    
}
#banner{
    height: 400px;
    margin-top: 10%;
    background-image: url(images/centro.png);
    background-size: 50%;
    background-repeat: no-repeat;
    
    
    
}
.banner .slider{
    translate: 100px -30px;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    
    
    
}
@keyframes autoRun{
    
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item{
    
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(300px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
#info{
    margin-top: 3%;
    text-align: center;
    box-shadow: #000 0px 0px 20px 0px;
    border-radius: 10px;
    color: rgb(186, 186, 187);
    font-family: 'ICA Rubrik';
}
@media screen and (max-width: 990px) {
    
    #PM {
        text-align: center;
    }
     #WD {
        text-align: center;
    }
    #banner{
        translate: 220px 30px;
    }
}
